/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*~
\#*\#
/resources/bitpay/bitauth.js
/node_modules
/dist
/lib
/.cljs_rhino_repl
\*cider-repl*\*
/.idea/
bitauth.iml
/out
/dev-resources/public/js/compiled/*
figwheel_server.log
.\#*
/*.iml
